table{
    margin: 10px auto;
    width: 100%;
      border-collapse: collapse;
}
.header,.data{
     border: 2px solid black;
            text-align: center;
            
            font-weight: bold;
}
.header{
    background-color: rgb(164, 188, 90);
    padding: 5px;
}
.data{
    padding: 80px;
    background-color: rgb(230, 243, 199);
    
}
#wapper{
     overflow-x: auto;
}