* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 90%;
  height: 500px;
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  gap: 12px;
}

.header {
  grid-column: 1 / 5;
  background: orange;
}
.main {
  grid-column: 1 / 3;
  background: skyblue;
}
.empty {
  background: rgb(43, 189, 70);
  border: 2px rgb(123, 209, 126);
}

.sidebar {
  background: lightcoral;
}

.footer {
  grid-column: 1 / 5;
  background: lightgreen;
}

/* COMMON STYLE */
.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  border-radius: 15px;
}
